<ion-content>
  <ng-container *ngIf="item">
    <app-task-card
      [orderNumber]="item.appOrder.orderNumber"
      [orderStatus]="item.status"
      [customerPhone]="item.appUser.phone"
      [pickupLocationMarker]="pickupLocationMarker"
      [dropLocationMarker]="dropLocationMarker"
      (moveToLocation)="moveToLocation($event)"
    >
    </app-task-card>
  </ng-container>

  <div class="map" #map></div>

  <div class="lower-part">
    <ion-button
      class="btn-full"
      expand="block"
      *ngIf="button2Label"
      (click)="button2Action()"
    >
      {{ button2Label }}
    </ion-button>

    <ion-button class="btn-full" expand="block" (click)="buttonAction()">
      {{ buttonLabel }}
    </ion-button>
  </div>
</ion-content>
