<ion-header class="big-header" style="height: 0px">
  <ion-toolbar color="none">
    <ion-buttons slot="start">
      <ion-button (click)="myGoBack('/tasks')" fill="clear" class="back-button">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="item" href="tel:{item.phone}">
        <ion-icon name="call-outline" color="primary"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="item">
    <app-task-card
      [orderNumber]="item.appOrder.orderNumber"
      [orderStatus]="item.status"
      [customerPhone]="item.appUser.phone"
      [pickupLocationMarker]="pickupLocationMarker"
      [dropLocationMarker]="dropLocationMarker"
      (moveToLocation)="moveToLocation($event)"
    ></app-task-card>
  </ng-container>

  <div class="map" #map></div>

  <div class="lower-part">
    <ion-button expand="block" class="btn-full" (click)="buttonAction()">
      {{ buttonLabel }}
    </ion-button>
  </div>
</ion-content>
