<ion-header class="big-header" style="height: 60px">
  <ion-toolbar color="none" class="bg-container ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
      <ion-menu-button color="light"> </ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white">Assigned's Tasks </ion-title>
    <ion-buttons slot="end">
      <ion-toggle
        justify="end"
        checked="true"
        style="
          --background-checked: lightgreen;
          --handle-background-checked: antiquewhite;
          --background: grey;
        "
      >
      </ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="assignedOrders.length">
    <div
      *ngFor="let order of assignedOrders; trackBy: trackById"
      class="purchased-item"
      (click)="navigateToNextPage(order)"
    >
      <ion-row>
        <ion-col class="bold text-md ion-nowrap">{{ order.id }} </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="details-col text-sm">
          <ion-row>
            <ion-col class="text-sm" style="color: grey">
              Order id: {{ order.appOrder.orderNumber }}
            </ion-col>
          </ion-row>
          <ion-row
            class="text-xsm"
            [ngStyle]="{'color': orderStatusColor[order.status]}"
          >
            {{ orderStatusText[order.status] }}
          </ion-row>
        </ion-col>
        <ion-col class="quantity-col text-sm">
          <ion-row>
            <ion-col style="text-align: right">
              <ion-row class="quantity-number">
                {{ order.dropDateTime }}
              </ion-row>
              <ion-row
                class="quantity-number text-sm"
                style="color: var(--color-blue)"
              >
                {{ order.appUser.phone }}
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="12" style="color: grey">
          {{ order.appUserAddress.address }}
        </ion-col>
      </ion-row>
    </div>
  </ng-container>
</ion-content>
