<app-header type="NONE" headingType="TEXT" heading="Assigned's Tasks">
  <ion-toggle
    class="ion-handle-bg-checked-white ion-handle-bg-white ion-track-bg-checked-[#34C759] ion-track-bg-white"
    justify="end"
    checked="true"
  >
  </ion-toggle>
</app-header>

<ion-content>
  <ng-container *ngIf="assignedOrders.length">
    <div
      class="purchased-item"
      *ngFor="let order of assignedOrders; trackBy: trackById"
      (click)="navigateToNextPage(order)"
    >
      <ion-row>
        <ion-col class="ion-nowrap text-base font-bold">
          {{ order.id }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="details-col text-sm">
          <ion-row>
            <ion-col class="text-sm text-[grey]">
              Order id: {{ order.appOrder.orderNumber }}
            </ion-col>
          </ion-row>
          <ion-row
            class="text-xs"
            [ngStyle]="{ color: ORDER_STATUSES.get(order.status)?.color }"
          >
            {{ ORDER_STATUSES.get(order.status)?.title }}
          </ion-row>
        </ion-col>
        <ion-col class="quantity-col text-sm">
          <ion-row>
            <ion-col class="text-right">
              <ion-row class="quantity-number">
                {{ order.dropDateTime }}
              </ion-row>
              <ion-row class="quantity-number text-sm text-[var(--color-blue)]">
                {{ order.appUser.phone }}
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col class="text-[grey]" size="12">
          {{ order.appUserAddress.address }}
        </ion-col>
      </ion-row>
    </div>
  </ng-container>
</ion-content>
