.purchased-item {
  margin: 5px 15px;
  border-bottom: 1px solid lightgrey;
}

.date-col,
.quantity-button {
  --border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 25px;
  --padding-end: 0;
  --padding-start: 1px;
}

.quantity-number {
  flex-direction: column;
  font-weight: bold;
}

.circle-col {
  position: relative;
  min-width: 70px;
  max-width: 70px;
  font-size: 24px;
}
.details-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  ion-col {
    padding: 1px;
  }
  ion-row {
    margin-bottom: 2px;
  }
}

.icons {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
