<ion-header class="big-header h-[3.75rem]">
  <ion-toolbar class="bg-container ion-text-center" color="none">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
      <ion-menu-button color="light"> </ion-menu-button>
    </ion-buttons>
    <ion-title class="text-white">Assigned's Tasks </ion-title>
    <ion-buttons slot="end">
      <ion-toggle
        class="ion-bg-[grey] ion-bg-checked-[lightgreen] ion-handle-bg-checked-[antiquewhite]"
        justify="end"
        checked="true"
      >
      </ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="assignedOrders.length">
    <div
      class="purchased-item"
      *ngFor="let order of assignedOrders; trackBy: trackById"
      (click)="navigateToNextPage(order)"
    >
      <ion-row>
        <ion-col class="ion-nowrap text-base font-bold">
          {{ order.id }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="details-col text-sm">
          <ion-row>
            <ion-col class="text-sm text-[grey]">
              Order id: {{ order.appOrder.orderNumber }}
            </ion-col>
          </ion-row>
          <ion-row
            class="text-xs"
            [ngStyle]="{'color': orderStatusColor[order.status]}"
          >
            {{ orderStatusText[order.status] }}
          </ion-row>
        </ion-col>
        <ion-col class="quantity-col text-sm">
          <ion-row>
            <ion-col class="text-right">
              <ion-row class="quantity-number">
                {{ order.dropDateTime }}
              </ion-row>
              <ion-row class="quantity-number text-sm text-[var(--color-blue)]">
                {{ order.appUser.phone }}
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col class="text-[grey]" size="12">
          {{ order.appUserAddress.address }}
        </ion-col>
      </ion-row>
    </div>
  </ng-container>
</ion-content>
