<ion-header class="big-header">
  <div class="bg-container">
    <div class="logo"></div>
  </div>
</ion-header>



<ion-content>
  <div class="ion-text-center">
    <h1 style="margin: 30px !important">OTP Verification</h1>
    <p style="margin: 30px !important">
      An 4 digit code has been sent to<br />{{ emailAddress }}
    </p>
    <ion-row>
      <ion-col>
        <ng-otp-input
          #ngOtpInput
          (onInputChange)="onOtpChange($event)"
          *ngIf="showOtpComponent"
          [config]="config"
        ></ng-otp-input
      ></ion-col>
    </ion-row>
    <ion-row
      ><ion-col class="ion-padding-horizontal"
        ><button
          class="btn-full color-bg-primary-black"
          [routerLink]="['/new-password']"
          (click)="onSubmit()"
        >
          Submit
        </button>
      </ion-col></ion-row
    >
  </div>
</ion-content>
