<div
  class="item"
  [ngStyle]="{ 'border-color': ORDER_STATUSES.get(orderStatus)?.color }"
>
  <div class="item-name">
    {{ orderName }}
  </div>
  <div
    class="item-badge"
    [ngStyle]="{ 'background-color': ORDER_STATUSES.get(orderStatus)?.color }"
  >
    {{ ORDER_STATUSES.get(orderStatus)?.title }}
  </div>

  <div>
    <div class="item-details">
      <div class="item-number">Order Id: {{ orderNumber }}</div>
      <div class="customer-phone">
        <ion-icon class="icon" src="assets/img/phone-icon.svg"> </ion-icon>
        <div class="text">{{ customerPhone }}</div>
      </div>
    </div>
    <div>
      <button
        class="address"
        type="button"
        *ngIf="pickupLocationMarker && pickupLocationAddress"
        (click)="moveToLocation.emit(pickupLocationMarker)"
      >
        <ion-icon
          class="address-icon"
          *ngIf="pickupLocationIcon"
          [src]="
            pickupLocationIcon === 'HOME'
              ? 'assets/img/home-icon.svg'
              : 'assets/img/shop-icon.svg'
          "
        >
        </ion-icon>
        <span class="address-text">
          {{ pickupLocationAddress | shorten: 62 : '...' }}
        </span>
      </button>
      <button
        class="address"
        type="button"
        *ngIf="dropLocationMarker && dropLocationAddress"
        (click)="moveToLocation.emit(dropLocationMarker)"
      >
        <ion-icon
          class="address-icon"
          *ngIf="dropLocationIcon"
          [src]="
            dropLocationIcon === 'HOME'
              ? 'assets/img/home-icon.svg'
              : 'assets/img/shop-icon.svg'
          "
        >
        </ion-icon>
        <div class="address-text">
          {{ dropLocationAddress | shorten: 62 : '...' }}
        </div>
      </button>
    </div>
  </div>
</div>
