<div class="item" [ngStyle]="{ 'border-color': orderStatusColor[orderStatus] }">
  <div class="item-name">
    {{ orderName }}
  </div>
  <div
    class="item-badge"
    [ngStyle]="{ 'background-color': orderStatusColor[orderStatus] }"
  >
    {{ orderStatusText[orderStatus] }}
  </div>

  <div>
    <div class="item-details">
      <div class="item-number">Order Id: {{ orderNumber }}</div>
      <div class="customer-phone">
        <ion-icon
          class="icon"
          src="../../../../assets/img/phone-icon.svg"
        ></ion-icon>
        <div class="text">{{ customerPhone }}</div>
      </div>
    </div>
    <div>
      <button
        *ngIf="pickupLocationMarker && pickupLocationAddress"
        type="button"
        (click)="moveToLocation.emit(pickupLocationMarker)"
        class="address"
      >
        <ion-icon class="address-icon" src="assets/img/shop-icon.svg">
        </ion-icon>
        <span class="address-text">
          {{ pickupLocationAddress | shorten: 62 : '...' }}
        </span>
      </button>
      <button
        *ngIf="dropLocationMarker && dropLocationAddress"
        type="button"
        (click)="moveToLocation.emit(dropLocationMarker)"
        class="address"
      >
        <ion-icon
          class="address-icon"
          src="assets/img/home-icon.svg"
        ></ion-icon>
        <div class="address-text">
          {{ dropLocationAddress | shorten: 62 : '...' }}
        </div>
      </button>
    </div>
  </div>
</div>
