<ion-header class="big-header">
  <div class="bg-container">
    <div class="logo"></div>
  </div>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <ion-row
      ><ion-col class="ion-padding-horizontal">
        <h1 style="margin: 30px !important">New Password</h1>

        <ion-item>
          <ion-label position="floating">New Password </ion-label>
          <ion-input
            [type]="newPasswordType"
            [(ngModel)]="newPassword"
            clearOnEdit="false"
          >
          </ion-input>
          <ion-icon
            [name]="newPassEyeIcon"
            slot="end"
            (click)="toggleNewPasswordVisibility()"
          >
          </ion-icon>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Re-enter New Password </ion-label>
          <ion-input
            [type]="confirmPasswordType"
            [(ngModel)]="confirmPassword"
            clearOnEdit="false"
          >
          </ion-input>
          <ion-icon
            [name]="confirmPassEyeIcon"
            slot="end"
            (click)="toggleConfirmPasswordVisibility()"
          >
          </ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row
      ><ion-col class="ion-padding-horizontal">
        <button
          class="btn-full color-bg-primary-black"
          (click)="onSave()"
          [routerLink]="['/sign-in']"
        >
          Save
        </button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
