<ion-header class="big-header">
  <div class="bg-container">
    <div class="logo"></div>
  </div>
</ion-header>

<ion-content>
  <form
    #forgotPasswordForm="ngForm"
    (ngSubmit)="onForgotPassword(forgotPasswordForm)"
  >
    <div class="ion-text-center">
      <h1 style="margin: 30px !important">Forgot Password</h1>

      <p style="margin: 30px !important">
        Enter registered email to receive password reset link
      </p>

      <ion-item>
        <ion-input
          labelPlacement="floating"
          label="Email"
          type="email"
          id="email"
          name="email"
          email
          errorText="Invalid Email"
          ngModel
        >
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col class="ion-padding-horizontal">
          <button type="submit" class="btn-full color-bg-primary-black">
            Get code
          </button>
        </ion-col>
      </ion-row>
    </div>
  </form>
</ion-content>
