<ion-header class="big-header">
  <div class="bg-container">
    <div class="logo"></div>
  </div>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <h1 style="margin: 30px !important">Forgot Password</h1>

    <p style="margin: 30px !important">
      Enter registered email to receive password reset link
    </p>

    <ion-item>
      <ion-label position="floating">Email </ion-label>
      <ion-input type="email" [(ngModel)]="resetEmail"> </ion-input>
    </ion-item>

    <ion-row
      ><ion-col class="ion-padding-horizontal">
        <button class="btn-full color-bg-primary-black" (click)="onGetCode()">
          Get code
        </button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
