<ion-header class="big-header">
  <div class="bg-container">
    <div class="logo"></div>
  </div>
</ion-header>
<ion-content>
  <form
    #forgotPasswordForm="ngForm"
    (ngSubmit)="onForgotPassword(forgotPasswordForm)"
  >
    <div class="ion-text-center">
      <h1 class="!mt-8">Forgot Password</h1>

      <p class="!mt-8">Enter registered email to receive password reset link</p>

      <ion-item lines="none">
        <ion-input
          id="email"
          name="email"
          type="email"
          labelPlacement="floating"
          label="Email"
          email
          errorText="Invalid Email"
          ngModel
        >
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col class="ion-padding-horizontal">
          <button class="btn-full color-bg-primary-black" type="submit">
            Get code
          </button>
        </ion-col>
      </ion-row>
    </div>
  </form>
</ion-content>
