<ion-header class="big-header h-[3.75rem]">
  <ion-toolbar class="bg-container ion-text-center" color="none">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
      <ion-menu-button color="light"> </ion-menu-button>
    </ion-buttons>
    <ion-title class="text-white">Online </ion-title>
    <ion-buttons slot="end">
      <ion-toggle
        class="ion-bg-[grey] ion-bg-checked-[lightgreen] ion-handle-bg-checked-[antiquewhite]"
        justify="end"
        checked="true"
      >
      </ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content #container>
  <div class="map" #map></div>
  <div class="lower-part">
    <ion-button class="btn-full" expand="block" [routerLink]="['/tasks']"
      >My Tasks
    </ion-button>
  </div>
</ion-content>
