<app-header type="BRANCH" heading="Online" headingType="TEXT">
  <ion-buttons>
    <ion-toggle
      class="ion-handle-bg-checked-white ion-handle-bg-white ion-track-bg-checked-[#34C759] ion-track-bg-white"
      justify="end"
      checked="true"
    >
    </ion-toggle>
  </ion-buttons>
</app-header>

<ion-content #container>
  <div class="map" #map></div>
  <div class="lower-part">
    <ion-button class="btn-full" expand="block" routerLink="/tasks">
      My Tasks
    </ion-button>
  </div>
</ion-content>
