.otp-input {
  border: 2px lightgrey solid;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  font-weight: 600;
  font-size: 26px;
  text-align: center;
  --padding-start: 0;
}

.otp-row {
  margin: auto;
  width: 240px;
}

.color-bg-primary-black {
  &:disabled {
    opacity: 0.6;
  }
}
