<ion-header class="big-header">
  <div class="bg-container">
    <div class="logo"></div>
  </div>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <h1 class="!mt-8">OTP Verification</h1>
    <p class="!mt-8">
      An 4 digit code has been sent to<br />
      {{ email }}
    </p>
    <ion-row>
      <ion-col>
        <ng-otp-input
          #ngOtpInput
          [config]="config"
          (onInputChange)="onOtpChange($event)"
        >
        </ng-otp-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding-horizontal">
        <button
          class="btn-full color-bg-primary-black"
          type="button"
          [disabled]="otp.length !== 4"
          (click)="onSubmit()"
        >
          Submit
        </button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
