<app-header type="BACK" headingType="TEXT" heading="Track Order">
  <ion-toggle
    class="opacity-0 ion-handle-bg-checked-white ion-handle-bg-white ion-track-bg-checked-[#34C759] ion-track-bg-white"
    justify="end"
    checked="true"
    disabled
  >
  </ion-toggle>
</app-header>

<ion-content>
  <ion-row class="bg-[lightgrey] px-1.5 py-1">
    <ion-col class="ml-2.5 max-w-14">
      <ion-avatar class="avatar">
        <img class="truck" src="./assets/icons/track.png" />
      </ion-avatar>
    </ion-col>
    <ion-col
      class="flex flex-col justify-center text-lg font-bold text-[#1a1a1a]"
    >
      <ion-label>Your order is in progress... </ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="p-2.5 text-base font-bold">
    <ion-col> {{ orders[0].title }} </ion-col>
    <ion-col class="text-right text-sm">
      <ion-label>
        {{ orders[0].items }} items | {{ orders[0].price | currency }}
      </ion-label>
    </ion-col>
  </ion-row>
  <div class="purchased-item" *ngFor="let item of actions; let i = index">
    <ion-row
      [style.filter]="i > 2 ? 'grayscale(100%)' : 'none'"
      [style.opacity]="i > 2 ? '0.4' : '1'"
    >
      <ion-col
        class="quantity-col bg-[linear-gradient(to_right,_black_50%,_transparent_50%)_no-repeat_center/1px_100%] text-center text-sm"
      >
        <ion-row>
          <ion-col
            class="bg-[linear-gradient(to_right,_black_50%,_transparent_50%)_no-repeat_center/1px_100%] text-center"
          >
            <ion-icon
              class="bg-white"
              name="checkmark-circle-outline"
              size="large"
              *ngIf="i < 3"
            >
            </ion-icon>
            <ion-icon
              class="bg-white"
              name="ellipse-outline"
              size="large"
              *ngIf="i > 2"
            >
            </ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="circle-col">
        <!-- Add circle-progress component here -->
        <circle-progress
          [percent]="item.percent"
          [radius]="50"
          [outerStrokeWidth]="3"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="item.color | color"
          [animation]="true"
          [animationDuration]="300"
        >
          <!-- Add icon here -->
        </circle-progress>
        <ion-icon class="icons" [src]="item.icon"> </ion-icon>
      </ion-col>
      <ion-col class="details-col text-sm">
        <ion-row>
          <ion-col class="font-bold">
            <span class="text-xsm" [style.color]="item.color | color">
              {{ item.type }}
            </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="font-bold"> {{ item.info }} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{
              item.time !== 'Date, Time'
                ? (item.time
                  | date
                    : 'HH:mm, MMM dd
            YY')
                : item.time
            }}
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
